table.table img {
    max-width: 100px;
    max-height: 100px;
}
.form-group.required label:first-of-type:after {
    content: " *";
    color: #a94442;
}
textarea {
    resize: vertical;
}
.image-file-input,
.image-preview-wrapper {
    margin-bottom: 1rem;
}
.image-preview-wrapper img {
    display: block;
    width: auto;
    max-width: 200px;
    max-height: 200px;
}
.image-preview-item .image-info {
    max-width: 200px;
    background-color: #eee;
    padding: 0.5rem;
    word-break: break-all;
}
.image-preview-item {
    display: inline-block;
    vertical-align: top;
    margin: 0.5rem;
}
.banner-form .image-preview-wrapper img {
    max-width: 450px;
    max-height: 450px;
}
.banner-form .image-preview-wrapper .image-info {
    max-width: 450px;
}
.site-index .body-content li img {
    max-width: 30px;
    max-height: 30px;
    overflow: hidden;
}
.grid-view td {
    white-space: normal;
}
.table td {
    word-break: break-all;
}